@media(min-width: 425px){
    .product,
    #shipping{
        font-size: 1.2rem;
    }
    #checkout img{
        width: 35%;
    }
    .shipping-num{
        margin-top: 4%;
    }
    .shipping-txt{
        margin: 3%;
    }
    .input img{
        width: 4%;
        margin: 0.4%;
        left: 4%;
    }
    .midcard img{
        width: 9%;
        transform: translateY(0.5rem);
    }
}
@media(min-width: 768px){
    body{
        width: 70%;
        margin: 0% auto;
    }
    #checkout{
        position: absolute;
        width: 30%;
        left: 55%;
    }
    #checkout img{
        width: 30%;
        left: 10%;
        transform: translateY(18%);
    }
    #contact{
        left: 10%;
        margin: 10% 0%;
        width: 50%;
    }
    #contact img,
    #shipping_address img{
        width: 2%;
        left: 15%;
    }
    .product{
        width: 50%;
    }
    .product-name{
        width: 110%;
        left: 10%;
    }
    .product-price{
        left: 50%;
    }
    .product-amount{
        margin-left: 6%;
    }
    .product,
    #shipping{
        font-size: 0.8rem;
    }
    #shipping-price,
    #shipping-total{
        transform: translateY(-2rem);
    }
    .shipping-txt{
        margin-left: 18%;
        margin-bottom: 4%;
    }
    #shipping_address{
        width: 50%;
    }
    #shipping_address .midcard img{
        /* position: absolute; */
        width: 12%;
        left: 3%;
        margin-bottom: 2%;
    }
    footer{
        margin-top: 15%;
    }
}
@media(min-width: 1024px){
    #shipping-address img{
        width: 1.5%;
    }
    #contact img{
        width: 2%;
        left: 15%;
        margin: 0%;
        margin-left: 0.5%;
    }
    #shipping_address img{
        margin: 0%;
        margin-left: 0.5%;
    }
    #shipping_address .midcard img{
        width: 10%;
    }
}